.container {
  display: grid;
  min-height: calc(100vh - 97px);
  justify-content: stretch;
}
.mainContainer {
  height: 100%;
}
@media (min-width: 940px) {
  .container {
    grid-template-columns: auto 900px auto;
    grid-template-rows: 62px 204px auto;
  }
}
@media (max-width: 939px) and (min-width: 640px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 62px 204px auto;
  }
}
@media (max-width: 640px) {
  .container {
    display: flex;
    flex-direction: column;
  }
}
