.bar {
  width: 100%;
  background-color: #2d2d2d;
  height: 66px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 31px;
}
.line {
  width: 50px;
  margin: 15px;
  color: #ffffff;
}
.text {
  color: #ffffff;
}

@media (min-width: 900px) {
  .bar {
    grid-column: 1 / 4;
    grid-row: 4 / 5;
  }
}
@media (max-width: 939px) and (min-width: 640px) {
  .bar {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
  }
}
@media (max-width: 640px) {
  .bar {
    align-self: flex-end;
  }
}
