.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;

  height: 100%;
}
.songsContainer {
  display: grid;
  justify-content: center;
  grid-gap: 18px;
}

.buttonContainer {
  display: grid;
  width: 180px;
  grid-template-columns: 90px 90px;
  align-self: center;
  margin-top: 42px;
}
.controlButton {
  background-color: #f7941d;
  outline: 0;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0;
  border: 0;
  width: 84px;
  height: 27px;
  color: #ffffff;
  margin: 5px;
}
.textLine {
  text-align: center;
  margin: 15px;
}

@media (min-width: 940px) {
  .container {
    grid-column: 2/3;
    grid-row: 3/4;
  }
  .songsContainer {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}

@media (max-width: 939px) and (min-width: 640px) {
  .container {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .songsContainer {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5 1fr);
  }
}
@media (max-width: 640px) {
  .songsContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-items: center;
    align-items: center;
  }
}
