.card {
  width: 300px;
  height: 140px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #f0f0f0;
  border: solid;
  border-radius: 2px;
  border-color: #f0f0f0;
  box-sizing: border-box;
}
.card:hover {
  border: solid;
  border-radius: 2px;
  border-color: #f7941d;
  box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.35);
  cursor: pointer;
}
.contentContainer {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin: 0 20px 0 20px;
}
.text {
  text-align: center;
  max-width: 120px;
  margin: 8px;
}
.img {
  border: 2px inset #000000;
}

@media (max-width: 640px) {
  .card {
    margin: 0 0 15px 0;
  }
}
